<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>个人信息列表</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}" media="all"/>
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form bg-form" id="inputForm" action="/page/superMsg/list" method="post">
        <input type="hidden" id="pageNo" name="pageNo" th:value="${page.pageNum}"/>
        <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}"/>
        <input type="hidden" id="pageTotal" th:value="${page.total}"/>
        <input type="hidden" id="msg" th:value="${msg}"/>
        <div class="layui-row">
            <div class="layui-form-item">
				<div class="form-group">
					<label for="realName" class="bg-form-label">大师昵称：</label>
						<div class="layui-input-inline">
							<input id="realName" type="text" name="nickName" maxlength="60" class="layui-input">
						</div>
				</div>
				<div class="form-group">
					<label for="createDate" class="bg-form-label">创建时间：</label>
						<div class="layui-input-inline">
							<input type="text" name="createDate" id="createDate" lay-verify="required" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
						</div>
				</div>
				<div class="form-group">
					<label for="createBy" class="bg-form-label">创建人</label>
						<div class="layui-input-inline">
							<input id="createBy" type="text" name="nickName" maxlength="11" class="layui-input">
						</div>
				</div>
                <div class="layui-inline  bg-Btn">
                    <div class="layui-input-inline">
                        <button class="layui-btn" type="submit" id="subBtn">查询</button>
                        <a class="layui-btn" th:href="@{/page/superMsg/form}">添加</a>
                    </div>
                </div>
            </div>
        </div>



    </form>
        <table class="layui-table  bg-table">
            <thead>
			<tr>
				<th nowrap="nowrap">个人图片</th>
				<th nowrap="nowrap">大师昵称</th>
				<th nowrap="nowrap">简介</th>
				<th nowrap="nowrap">创建时间</th>
				<th nowrap="nowrap">更新时间</th>
				<th nowrap="nowrap">创建人</th>
				<th nowrap="nowrap">操作</th>
			</tr>
            </thead>
            <tbody>
			<tr th:each="superMsg : ${page.list}">
							<td  th:text="${superMsg.photo}"></td>

							<td  th:text="${superMsg.realName}"></td>

							<td  th:text="${superMsg.description}"></td>

							<td th:text="${#dates.format(superMsg.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td th:text="${#dates.format(superMsg.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td  th:text="${superMsg.createBy}"></td>

				<td>
					<a class="layui-btn" th:href="@{'/page/superMsg/form?id=' + ${superMsg.id}}" >修改</a>
					<a class="layui-btn" th:href="@{'/page/superMsg/delete?id=' + ${superMsg.id}}">删除</a>
				</td>
			</tr>

            </tbody>
        </table>
        <div id="paging"></div>

</div>

</body>
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/common/util.js}"></script>
</html>