<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{/layui/css/layui.css}"  media="all"/>
    <link rel="stylesheet"  th:href="@{/css/common.css}"  media="all"/>
</head>
<body>
<div  class="layui-fluid">
    <input  type="hidden" th:inline="text" id="msg"  th:value="${msg}" >
    <form class="layui-form bg-form">
        <div class="layui-row">
            <div class="bg-Btn">
                <button class="layui-btn" lay-submit lay-filter="select">查询</button>
                <button class="layui-btn" lay-submit lay-filter="add">添加</button>
                <button class="layui-btn" data-type="updateBtn">修改</button>
                <button class="layui-btn" data-type="upStateBtn">更新状态</button>
                <button class="layui-btn" data-type="refreshBtn">刷新</button>
            </div>
        </div>
        <table class="layui-table bg-table">
            <colgroup>
                <col width="30%">
                <col width="30%">
                <col width="30%">
            </colgroup>
            <tbody>
            <tr>
                <td>
                    <label class="layui-form-label">昵称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="parentIds" autocomplete="off" class="layui-input">
                    </div>
                </td>
                <td>
                    <label class="layui-form-label">手机号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="parentIds"  lay-verify="number"  autocomplete="off" class="layui-input">
                    </div>
                </td>
                <td>
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isShow" value="0" title="激活">
                        <input type="radio" name="isShow" value="1" title="冻结" >
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <table id="userList"></table>
</div>

</body>
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script src="../../static/js/user.js" th:src="@{/js/user.js}"></script>
</html>