.bg-form-label{
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}
.bg-Btn{
    float:right;
}
.bg-table col{
    width: 33%;
}
.comTable tbody tr:hover{
    background-color:white;
}
.bg-form {
    padding-top: 1%;
}
.bg-form input{
    width:100%;
}
.bg-top{
    margin-top: 2%;
}