<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>订单管理列表</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/css/common.css}" media="all"/>
</head>
<body>
    <form class="layui-form bg-form" id="inputForm" action="/page/order/list" method="post">
        <input type="hidden" id="pageNo" name="pageNo" th:value="${page.pageNum}"/>
        <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}"/>
        <input type="hidden" id="pageTotal" th:value="${page.total}"/>
        <input type="hidden" id="msg" th:value="${msg}"/>
		<div class="layui-form-item">
			<div class="layui-inline  bg-Btn">
				<div class="layui-input-inline">
					<button class="layui-btn" type="submit" id="subBtn">查询</button>
					<a class="layui-btn" th:href="@{/page/order/form}">添加</a>
				</div>
			</div>
			<div class="layui-row">
				<div class="form-group">
					<label for="orderNo" class="bg-form-label">订单号：</label>
						<div class="layui-input-inline">
							<input id="orderNo" type="text" name="nickName" maxlength="50" class="layui-input" th:value="${order.orderNo}">
						</div>
				</div>
				<div class="form-group">
					<label for="createBy" class="bg-form-label">买家姓名：</label>
					<div class="layui-input-inline">
						<input id="createBy" type="text" name="nickName" maxlength="11" class="layui-input" th:value="${order.buyerName}">
					</div>
				</div>
				<div class="form-group">
					<label class="bg-form-label">创建时间：</label>
					<div class="layui-input-inline">
						<input type="text" name="start_createDate"  id="start_createDate" lay-verify="required" placeholder="yyyy-MM-dd"  class="layui-input" th:value="${order.startCreateDate}">
					</div>
					<div class="layui-input-inline bg-cent">
						<span> ~</span>
					</div>
					<div class="layui-input-inline">
						<input type="text" name="end_createDate"   id="end_createDate" lay-verify="required" placeholder="yyyy-MM-dd"  class="layui-input" th:value="${order.endCreateDate}">
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="form-group">
					<label for="orderMoney" class="bg-form-label">订单金额：</label>
					<div class="layui-input-inline">
						<input id="orderMoney" type="text" name="nickName" maxlength="0" class="layui-input" th:value="${order.orderMoney}">
					</div>
				</div>
				<div class="form-group">
					<label for="dealpayType" class="bg-form-label">交易类型：</label>
						<div class="layui-input-inline">
							<select id="dealpayType" name="dealpayType" lay-verify="required">
								<option adds:dict="getSelect:pay, ${order.dealpayType}"></option>
							</select>
						</div>
				</div>
				<div class="form-group">
					<label  for="dealState" class="bg-form-label">订单状态：</label>
					<div class="layui-input-inline">
						<select id="dealState" name="dealState" lay-verify="required">
							<option value="">请选择</option>
							<option adds:dict="getSelect:state, ${order.state}"></option>
						</select>
					</div>
				</div>
			</div>
        </div>
    </form>
	<div class="layui-fluid">
        <table class="layui-table  bg-table"  lay-filter="table-data">
            <thead>
			<tr>
				<th lay-data="{field:'orderNo'}">订单号</th>
				<th lay-data="{field:'createDate'}">创建时间</th>
				<th lay-data="{field:'orderMoney'}">订单金额</th>
				<th lay-data="{field:'updateDate'}">更新时间</th>
				<th lay-data="{field:'orderintegration'}">抵扣积分</th>
				<th lay-data="{field:'createBy'}">用户姓名</th>
				<th lay-data="{field:'integrationAmount'}">订单积分金额</th>
				<th lay-data="{field:'state'}">状态</th>
				<th lay-data="{field:'freight'}">运费</th>
				<th lay-data="{field:'orderCountMoney'}">总金额</th>
				<th lay-data="{field:'dealState'}">订单状态</th>
				<th lay-data="{field:'buyerRemark'}">买家留言</th>
				<th lay-data="{field:'dealpayType'}">交易类型</th>
				<th lay-data="{field:'receiverAddress'}">收货地址</th>
				<th lay-data="{field:'receiverMobile'}">收货人手机号</th>
				<th lay-data="{field:'receiverName'}">收货人姓名</th>
				<th lay-data="{field:'receiverPhone'}">收货人电话号码</th>
				<th lay-data="{field:'receiverPostcode'}">收货人邮编</th>
				<th lay-data="{field:'buyerName'}">买家名称</th>
				<th lay-data="{field:'buyUserid'}">买家姓名</th>
				<th lay-data="{field:'createDate'}">下单时间</th>
				<th lay-data="{field:'payTime'}">付款时间</th>
				<th lay-data="{field:'recvfeeTime'}">收款时间</th>
				<th lay-data="{field:'recvUsername'}">收款人</th>
				<th lay-data="{field:'freightCompany'}">快递公司</th>
				<th lay-data="{field:'freightNumber'}">运费单号</th>
				<th lay-data="{field:'expressCode'}">快递公司编号</th>
				<th lay-data="{field:'channelBalance'}">渠道金额</th>
				<th lay-data="{field:'returnBalance'}">退款金额</th>
				<th lay-data="{field:'updateBy'}">更新者</th>
				<th lay-data="{field:'remarks'}">备注信息</th>
				<th lay-data="{field:'operation', align: 'center',width: 180}">操作</th>
			</tr>
            </thead>
            <tbody>
			<tr th:each="order : ${page.list}">
							<td  th:text="${order.orderNo}"></td>

							<td th:text="${#dates.format(order.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td  th:text="${order.orderMoney}"></td>

							<td th:text="${#dates.format(order.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td  th:text="${order.orderintegration}"></td>

							<td  th:text="${order.createBy}"></td>

							<td  th:text="${order.integrationAmount}"></td>

							<td th:text="${order.state eq  'Y'  } ?'完成':(${order.state eq  'N'  } ?'待配送':(${order.state eq  'M'  } ?'配送中'))"></td>

							<td  th:text="${order.freight}"></td>

							<td  th:text="${order.orderCountMoney}"></td>

							<td th:text="${order.dealState eq  '0'  } ?'第三方平台':(${order.state eq  '1'  } ?'支付宝':(${order.state eq  '2'  } ?'微信'))"></td>

							<td  th:text="${order.buyerRemark}"></td>

							<td  th:text="${order.dealpayType}"></td>

							<td  th:text="${order.receiverAddress}"></td>

							<td  th:text="${order.receiverMobile}"></td>

							<td  th:text="${order.receiverName}"></td>

							<td  th:text="${order.receiverPhone}"></td>

							<td  th:text="${order.receiverPostcode}"></td>

							<td  th:text="${order.buyerName}"></td>

							<td  th:text="${order.buyUserid}"></td>

							<td th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td th:text="${#dates.format(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td th:text="${#dates.format(order.recvfeeTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

							<td  th:text="${order.recvUsername}"></td>

							<td  th:text="${order.freightCompany}"></td>

							<td  th:text="${order.freightNumber}"></td>

							<td  th:text="${order.expressCode}"></td>

							<td  th:text="${order.channelBalance}"></td>

							<td  th:text="${order.returnBalance}"></td>

							<td  th:text="${order.updateBy}"></td>

							<td  th:text="${order.remarks}"></td>

				<td>
					<a class="layui-btn" th:href="@{'/page/order/form?id=' + ${order.id}}" >修改</a>
					<a class="layui-btn" th:href="@{'/page/order/delete?id=' + ${order.id}}">删除</a>
				</td>
			</tr>

            </tbody>
        </table>
        <div id="paging"></div>

</div>

</body>
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/common/util.js}"></script>
</html>